{{ with .Scratch.Get "plugin-banner.Parameters" }}

  {{ with .Style }}
  
.{{ .ClassName }} {
  background-color: {{ .Color }};
  height: {{ .Height }};
  width: {{ .Width }};
  background-position: {{ .Position }};
  background-repeat: {{ .Repeat }};
  background-size: {{ .Size }};
  position: relative;
  
  {{ end }}
  
  {{ $URLs := .Banners.URLs }}
  
  {{ range $id, $index := .Banners.IndexByID }}
  
      
    &#{{ $id }} { background-image: url({{ index $URLs $index }}); }
  
  {{ end }}
  
}

{{ end }}