{{- /********************************************************
  Resolves theme and plugin data files to build a map of 
  parameter values and injects this map into the page scratch
  ***********************************************************/ -}}

{{- /************************************************
  Initialize variables with default parameter values
  to ensure every parameter has a map entry. 
  ***************************************************/ -}}
{{- $Config := dict 
  "Version" ""
  "DebugPrint" false
  "Fingerprint" true
  "SassOutput" "compact" -}}
  
{{- $Images := dict -}}

{{- $Style := dict
  "ClassName" "banner-image"
  "Color" "inherit"
  "Height" "300px"
  "Width" "100%"
  "Position" "center"
  "Repeat" "no-repeat"
  "Size" "cover" -}}
  
{{- $Parameters := dict 
  "Config" $Config 
  "Images" $Images 
  "Style" $Style -}}


{{- /************************************************
  Override the default parameter values with values
  found in the plugin data files.
  ***************************************************/ -}}

{{- with site.Data.plugin_banner -}}
  {{- $Parameters = merge $Parameters . -}}
{{- end -}}

{{- /**********************************************
  Override the default/plugin parameter values with
  values found in the theme data file.
  *************************************************/ -}}

{{- with (index site.Data "plugin-banner") -}}
  {{- $Parameters = merge $Parameters . -}}
{{- end -}}

{{- /************************************ 
  Generate an index registery of banners. 
  ***************************************/ -}}
  
{{- $Paths := slice -}}
{{- $URLs := slice -}}
{{- $IDs := slice -}}

{{- range $path, $url := $Images -}}

{{- $id := cond (eq $path "/") "home" ($path | anchorize) -}}
{{- $Paths = $Paths | append $path -}}
{{- $URLs = $URLs | append $url -}}
{{- $IDs = $IDs | append $id -}}

{{- end -}}

{{- $IndexByID := "" -}}
{{- range $index, $id := $IDs -}}
{{- $IndexByID = printf "%s'%s' = %v\n" $IndexByID $id $index -}}
{{- end -}}

{{- $IndexByPath := "" -}}
{{- range $index, $path := $Paths -}}
{{- $IndexByPath = printf "%s'%s' = '%v'\n" $IndexByPath $path $index -}}
{{- end -}}

{{- $Banners := dict 
  "IndexByID" ($IndexByID | transform.Unmarshal) 
  "IndexByPath" ($IndexByPath | transform.Unmarshal) 
  "IDs" $IDs 
  "Paths" $Paths 
  "URLs" $URLs -}}
  
{{- $Parameters = merge $Parameters (dict "Banners" $Banners) -}}
  
{{- /********************************************
  Insert the parameter map into the page scratch.
  ***********************************************/ -}}
  
{{- .Scratch.Set "plugin-banner.Parameters" $Parameters -}}